extends ./layout/login
block contenido

  include ./layout/header

  mixin fotos(foto, fotos)    
    section.mensajes.p-5
      .container.p-4.contenedor-tabla
        table.table.table-hover.text-white.text-center
          thead
            tr
              th.text-white(scope='col') Tipo
              th.text-white(scope='col') Nombre
              th.text-white(scope='col') Alt
              th.text-white(scope='col') Ruta
              th.text-white(scope='col') Miniatura
              th.text-white(scope='col') Acciones
          tbody
            each foto in fotos
              tr
                td.text-white #{foto.tipo === 1 ? 'Foto' : 'Recordatorio'}
                td.text-white #{foto.nombre}
                td.text-white #{foto.alt}
                td.text-white #{foto.ruta}
                td.text-white
                  img.miniatura(src=`../img/${foto.ruta}`, alt="...")
                td.text-white
                  a#editar.me-3.text-white.text-decoration-none.acciones(href=`/admin/editar-foto/${foto.id}`) Editar
                  button#eliminarFoto.me-3.text-white.text-decoration-none.acciones.eliminar(type='button', data-cliente=`${foto.id}`) Eliminar

  .col-md-11.contenido-principal.px-5.py-2.justify-content-center.m-auto
    h4.titulo-contenido.text-center.text-uppercase.text-white #{pagina}

    .container.mx-auto.my-4.text-center
      a(href="/admin/agregar-foto").text-decoration-none.p-3.agregar-foto
        svg.bi.bi-person-fill-add(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' viewbox='0 0 16 16')
          path(d='M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z')
          path(d='M2 13c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Z')

    +fotos(foto, fotos)


  include ./layout/footer